

@font-face {
    font-family: "Type Wheel";
    src: url("fonts/TypeWheel.ttf"), format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sweet purple";
    src: url("fonts/sweet purple.ttf"), format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Times";
    src: url("fonts/TIMESS__.ttf"), format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: #ffffff;
}

.nav {
    background-color:#ffffff;
    overflow: hidden;
    font-family: 'Times';
}

.nav a {
    float: left;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #c2a3eb;
    color:black;
    border-radius: 250px 50px 250px 50px;
}

.nav a.split:hover {
    background-color: #c2a3eb;
    color: black;
}


.nav a.split {
    float: right;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.header {
    padding: 60px;
    text-align: center;
    background: #9f81f7ee;
    background-color: transparent;
    font-size: 30px;
}

h1 {
    font-family: 'sweet purple';
    font-size: 75px;
    color:#c2a3eb;
}

#portfolio {
    padding: 20px 0;
    width: 100vw;
    display: inline-flex;
    justify-content: center;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}
.layer{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    padding: 0;
    text-align: left;
    font-family: 'Times';
}



  #jobs {
    font-family: 'Type Wheel';
    font-size: 16px;
    display: flex;
    justify-content: center;
    opacity: 55%;
  }

  #jobs:after {
    animation-name: jobs;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation: jobs 2.5s infinite alternate;
    content: "";
  }

  @keyframes jobs {
    0%{
        content: "software engineer";
        from {opacity: 0;}
    }
    50%{
        content: "product designer";
        from {opacity:0;}
    }
    75%{
        content: "photographer";
        from {opacity: 0;}
    }
    100%{
        content: "bookworm";
        from {opacity: 0;}
    }
  }

.footnote {
    background-color: #c2a3eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-container {
    display: flex;
    column-gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.foot-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.foot-text {
    font-family: 'sweet purple';
    font-size: 32px;
    display: inline-block;
}

.foot-text i{
    font-size: 20px;

}

.foot-text p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.foot-container p i{
    display: flex;
    font-size: 12px;}